<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - UCLive 2K15</title>
    {% else %}
    <title>Welcome to UCLive 2K15</title>
    {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="static/sticky-footer-navbar.css" rel="stylesheet">
    <link href="static/signup.css" rel="stylesheet">
    <link href="static/centered_navbar.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="static/Modernizr.js"></script>
    <script src="static/js/jquery-1.11.3.js"></script>
    <script src="static/js/signUp.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">UCLive</a></li>
                <li><a href="http://www.github.com/velvokay/uclive">Github</a></li>
                {% if session['logged_in'] %}
                <li><a href="/logout">Logout</a></li>
                <li><a href="/dashBoard">Dashboard</a></li>
                {% else %}
                <li><a href="/dashBoard">Dashboard</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/displaySignUp">Register</a></li>
                {% endif %}
                {% for message in get_flashed_messages() %}
                {{ message }}
                {% endfor %}

            </ul>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}

</body>
</html>