<!DOCTYPE html>
<html lang="en">
<head onload="checkInfo()">
    <style>
        body {
            background-image: url("static/background.png");
        }
    </style>
    <meta charset="utf-8">
</head>
{% extends "base.html" %}
{% block content%}

<body>
    <div class="container-fluid" style="text-align:center">
        <h1>Hello, Username!</h1>
        <a href="#" class="btn btn-default btn-lg btn-success" role="button">Your group</a>
        <h2>Group</h2>
        <a href="#" class="btn btn-default btn-lg btn-success" role="button">Create a new group</a>
    </div>
    <footer class="footer">
        <div class="container" style="text-align: center">
            <p class="text-muted">alexakovlev@gmail.com | 2015</p>
        </div>
    </footer>
</body>

{% endblock %}