<!DOCTYPE html>
<html lang="en">
<head onload="checkInfo()">
    <style>
        body {
            background-image: url("static/background.png");
        }
    </style>
    <meta charset="utf-8">

</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="container" style="text-align:left; font-family: 'Open Sans', sans-serif; color:black;">
        <div class="page-header" style="color:black">
            <h1>Hello, {% if name %}{{ name }}{% else %}User{% endif %}!</h1>
            {% if not known %}
            <p>Pleased to meet you!</p>
            {% else %}
            <p>Happy to see you again!</p>
            {% endif %}
        </div>
        <h3>Posts: </h3>
        {% for post in posts %}
        <strong>Title: </strong> {{ post.title }} <br>
        <strong>Post: </strong> {{ post.description }} <br>
        <br>
        {% endfor %}
        <p class="lead"></p>
    </div>
    <footer class="footer">
        <div class="container" style="text-align: center">
            <p class="text-muted">alexakovlev@gmail.com | 2015</p>
        </div>
    </footer>
    {% endblock %}
</body>
</html>
