<!DOCTYPE html>
<html lang="en">
<head onload="checkInfo()">
    <style>
        body {
            background-image: url("static/background.png");
        }
    </style>
    <meta charset="utf-8">

</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="container" style="text-align:left; font-family: 'Open Sans', sans-serif; color:black;">
        <div class="page-header" style="color:black">
            <h1>Hello, {% if name %}{{ name }}{% else %}User{% endif %}!</h1>
            {% if not known %}
            <p>Pleased to meet you!</p>
            {% else %}
            <p>Happy to see you again!</p>
            {% endif %}
        </div>
        <!--<h3>Posts: </h3>
        {% for post in posts %}
        <strong>Title: </strong> {{ post.title }} <br>
        <strong>Post: </strong> {{ post.description }} <br>
        <br>
        {% endfor %}-->
            <h3>Begin by selecting your major: </h3>
            <form action="{{ url_for('main') }}" method="post">
                <select name="major" id="major">
                    <option value="Computer Science">Computer Science</option>
                    <option value="Electrical Engineering">Electrical Engineering</option>
                </select>
                <br><br>
                <input class="btn btn-default" type="submit" value="Submit">
            </form>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
        </div>
        <p class="lead"></p>
    <footer class="footer">
        <div class="container" style="text-align: center">
            <p class="text-muted">alexakovlev@gmail.com | 2015</p>
        </div>
    </footer>
    {% endblock %}
</body>
</html>
