<!DOCTYPE html>
<html lang="en">
<head onload="checkInfo()">
    <style>
        body {
            background-image: url("static/background.png");
        }
    </style>
    <meta charset="utf-8">
</head>
{% extends "base.html" %}
{% block content%}

<body>

<div class="container" style="background-color: white">
    <div class="page-header">
        <h1>{{ _major }}</h1>
    </div>
    <h2>Required Classes</h2>
    <!--.active, .success, .info, .warning, and .danger.-->
    <table class="table">
        <a href="#" class="btn btn-default" role="button">Major Specific</a>
        <a href="#" class="btn btn-default" role="button">General Education</a>
        <thead>
            <tr>
                {% for col_index in range(cols['campuses']|count) %}
                <th class="warning">{{ cols['campuses'][col_index] }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row_index in range(rows['courses']|count) %}
        <tr>
            <td class="info">{{ rows['courses'][row_index] }}</td>
            <td>{{ rows['UCB'][row_index] }}</td>
            <td>{{ rows['UCSD'][row_index] }}</td>
            <td>{{ rows['UCLA'][row_index] }}</td>
            <td>{{ rows['UCSB'][row_index] }}</td>
            <td>{{ rows['UCI'][row_index] }}</td>
            <td>{{ rows['UCD'][row_index] }}</td>
            <td>{{ rows['UCSC'][row_index] }}</td>
            <td>{{ rows['UCR'][row_index] }}</td>
            <td>{{ rows['UCM'][row_index] }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    <hr>
    <a href="/getCsv" class="btn btn-default btn-lg btn-success" role="button">Save as .csv</a>
</div>
<footer class="footer">
    <div class="container" style="text-align: center">
        <p class="text-muted">alexakovlev@gmail.com | 2015</p>
    </div>
</footer>

</body>

{% endblock %}